
html body {
  scroll-behavior: smooth;
  height: 100%;
  margin:0px;
  background-color: #fcfcfc;
}


 #hero {
	background-image: url('../images/headerimage.jpg');
	background-size: cover;
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	position: relative;
  	overflow: hidden;
} 


/* Navigation */


  #hero {
  background-image: url('../images/headerimage.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
} 

.fixed-top {
    transition: all 0.25s ease-in;
}

/* style for when sitcky is applied */
.stuck .fixed-top {
    background-color: #333 !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: Libre Franklin;
}

.nav-link:hover {
  color: #59A958;
}

.nav-item{
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-fixed-top {
  background: transparent;
}



/* Button Styles */ 

.btn-primary {
	width: 250px;
	height: 48px;
	border-radius: 25px;
	border:none;
	background: #59A958;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.btn-primary:hover {
	background: #07593C;
}

.btn-center {
	display: block;
	margin: auto;
}


button a {
	color: #FFFFFF;
	font-weight: 500;
	font-family: Libre Franklin;
	font-style: normal;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.03em;
	margin-top: 32px;
	vertical-align: middle;
	text-decoration: none;
	float: none;
}

button a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/* INSTA TYTLE STYLES */

.header {

	margin: 0 auto !important;
	align-items: center;
}



/* IMAGE PARALLAX */


header {
 	background-size: cover;
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	position: relative;
  	overflow: hidden;
  	height: 600px;
}

/* Header Styles */ 

#header-background {
	width: 100%;
	height: 100%;
	position: absolute;
}

#h3-white {
	font-family: Cooper Black;
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 64px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 130px;
}



h4, #h4-white {
	margin-top: 50px;
	text-align: center;
	color: #FFFFFF;
}


/* FONT STYLES */ 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     p {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: #333333;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     p {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #333333;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        p {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;
	color: #333333;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
     p {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.03em;
	color: #333333;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.03em;
	color: #333333;
	}
}


h1 {
	font-family: Cooper Black;
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 70px;
	color: #59A958;
}

h3 {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	vertical-align: middle;
	color: #333333;
	
}

h4 {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #333333;
	text-align: left;
	
}

h2 {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
}




/* Comic Cards */ 


.inner{
    overflow: hidden;
}
 
.inner img{
    transition: all 1.2s ease;
}
 
.inner:hover img{
    transform: scale(1.2);
}

.card, .card-img-top, .card-body{
 	border:none;
 	border-radius: 0px;
 	background-color: none;
 }

.card-title {
	font-size: 1.2em;
}

 .card-text {
 	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 1em;
	line-height: 28px;
	/* display: flex; */
	align-items: center; 
	letter-spacing: 0.03em;
	color: #000000;
 }



 .card {
 	border:none;
 }

 .card-img-top {
 	border:none;
 	height: 220px;
 	border:none;
 }




/* OTHER STYLES */ 


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col {
    height: 300px;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
            .col {
    height: 300px;
}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        .col {
    height: 550px;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col {
    height: 750px;
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col {
    height: 750px;
}
}


h4 a {
	float: none !important;
}

 a {
 	color: #59A958;
 	float: right;
 	font-weight: 500;
	text-decoration: underline;
 }

 a:hover {
 	color: #2A630D;

 }

 #show-details {
 	margin-top: 120px;
 	margin-bottom: 120px;
 }


#about {
	max-width: 100%;
	margin: 0 auto;

}

#detail {
	border-radius: 5px;
	border-color: black;
}




.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* NEWSLETTER STYLES */

.newsletter {
	padding: 80px 0;
	background: #59A958;
	width: 100%;
}

.newsletter .content {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2;
}

.newsletter .content h2 {
	color: #243c4f;
	margin-bottom: 40px;
}


.mc-field-group {
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	
}

#mceEmail{
	width: 550px;
	height: 48px;
	left: 396.62px;
	top: 6833px;
	background: #FFFFFF;
	border-radius: 25px 25px 25px 25px;
	margin-bottom: 25px;
	border:none;
	box-shadow: inset 1px 1px 8px rgba(196, 196, 196, 0.9);
}

#mceEmail:focus{
	outline:0;

}

.required-email {
	padding-left: 15px;
	font-family: Libre Franklin;
	color: #333333;
}

.button {
	background: #333333;
	border-radius: 25px 25px 25px 25px;
	width: 165px;
	height: 48px;
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	border: none;
	text-transform: uppercase;
}

.button:focus {outline:0;}


/* Weed Fact Styles */

#heading, #fact-js{
	text-align: center;
	margin: 2%;
}


#weed-fact {
	height: 600px;
	background-image: url('../images/upcomingshows.jpg');
	background-size: cover;
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	position: relative;
  	overflow: hidden;
  	max-width: 100%;
	margin: 0 auto;
}

 #fact-btn {
	width: 250px;
	height: 48px;
	border-radius: 25px;
	border:none;
	background: #59A958;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	color: #FFFFFF;
	font-weight: 500;
	text-decoration: none;
	font-family: Libre Franklin;
	font-style: normal;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.03em;
	margin-top: 32px;
}


.fact-container {

	text-align: center;
}


/* Footer Styles */

footer {
	background-color: #333333;
	padding: 50px;
	text-align: center;
}


.footer-nav  a {
	list-style-type: none;
	font-family: Libre Franklin;
	color: white;
	text-decoration: none;
	padding:15px;
	float: none !important;
	margin-right:30px;
}

.footer-nav a:hover {
	color: lightgray;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  position: relative;
  display: inline-block;
  float: left;
  padding: 10px;
}